<div class="landing">

<div class="background">
  <div class="content">

<h1 style="font-size: 100px;padding: 60px 0 0;">WELCOME</h1>




</div>

</div>

<div class="background-2">
  <div class="content">
    </div>
</div>

<section class="features-container">

  <h1 class="feature-title text-center">
    <span style='color:#FF0000;'>M</span><span style='color:#FF0B00;'>A</span><span style='color:#FF1600;'>R</span><span style='color:#FF2200;'>V</span><span style='color:#FF2D00;'>E</span><span style='color:#FF3800;'>L</span> <span style='color:#FF4F00;'>C</span><span style='color:#FF5A00;'>I</span><span style='color:#FF6500;'>N</span><span style='color:#FF7100;'>E</span><span style='color:#FF7C00;'>M</span><span style='color:#FF8700;'>A</span><span style='color:#FF9100;'>T</span><span style='color:#FF9A00;'>I</span><span style='color:#FFA300;'>C</span> <span style='color:#FFB600;'>U</span><span style='color:#FFBF00;'>N</span><span style='color:#FFC800;'>I</span><span style='color:#FFD100;'>V</span><span style='color:#FFDB00;'>E</span><span style='color:#FFE400;'>R</span><span style='color:#FFED00;'>S</span><span style='color:#FFF600;'>E</span>
    </h1>
  <div class="features">
    <div class="feature text-center">
      <%= fa_icon 'globe 4x', class: 'icon settings' %>
      <h5> Fostering communities </h5>
    </div>

    <div class="feature text-center">
      <%=fa_icon 'universal-access 4x', class: 'icon settings' %>
      <h5> Universe<h5>
    </div>

    <div class="feature text-center">
      <%= fa_icon 'globe 4x', class: 'icon settings' %>
      <h5> Fostering communities </h5>
    </div>

    <div class="feature text-center">
      <%= fa_icon 'globe 4x', class: 'icon settings' %>
      <h5> Fostering communities </h5>
    </div>
  </div>
</section>


<div class="container">

      <div class="img">
              <%= image_tag "iron man logo.jpg" , class: 'image-settings' %>
              <div class="invisible-layout">
    <div class="content">
      <h3>I am Iron Man</h3>
    </div>
  </div>
      </div>

      <div class="img">
              <%= image_tag "hulk logo.jpg" , class: 'image-settings' %>
      <div class="invisible-layout">
    <div class="content1">
      <h3>HULK SMASH!!!</h3>
    </div>
  </div>
  </div>


      <div class="img">
              <%= image_tag "thor logo.jpg" , class: 'image-settings' %>
      <div class="invisible-layout">
          <div class="content2">
            <h3>Odin's beard!</h3>
          </div>
        </div>
        </div>

      <div class="img">
              <%= image_tag "captain-america-logo.jpg" , class: 'image-settings' %>
      <div class="invisible-layout">
    <div class="content3">
      <h3>Avengers Assemble</h3>
    </div>
  </div>
  </div>

</div>

<section class="contact-container">

    <h1 class="text-center">
      My Contact Information
    </h1>
<div>
  <p class="text-center">
    lallala lelele lololo slaodaslas lleleak akhsdkjshad alsjslaknsa saljbsad
    sadljhsadjlhdsaljhsadl sajlhsaljdhlsda sdlhjslsda
    sdankjshdauohdsajashdjhlklnlkcnczlnjzch xcncjskhalchnlasjchnljsa chh
    scakhjgscakhgsakh sackjhsakjhsa saiufdoaiufoisjsaoi sajhfoahfsoisf sakh
    asfjkhsauihs safjhsaoihjsa aslfhlaskhfiosafh asfklhsailfh salfka
    <p>
      <p class="text-center">Nice nice nice ncie nice ncienc niec<p>
</section>
</div>
</div>
